.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main {
  background: darkred;
  background: linear-gradient(180deg, darkred 0%, white 5%);

  padding: 10px;
}